<!-- MOTOR CONTROLLER -->
        <div class="container">
              <div class="row">
                <div class="col-sm col-sm-1">
                    Motor 1
                </div>
                <div class="col-sm-1">
                      <input id="switch-motor-1" type="checkbox" data-toggle="switchbutton" data-size="sm">
                </div>
                <div class="col-sm">
                    <div id="slider-motor-1" class="slider-motor">
                        <div id="slider-label-motor-1" class="ui-slider-handle slider-label-motor"></div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm col-sm-1">Motor 2
                  </div>
                <div class="col-sm-1">
                      <input id="switch-motor-2" type="checkbox" data-toggle="switchbutton" data-size="sm">
                </div>
                <div class="col-sm">
                  <div id="slider-motor-2" class="slider-motor">
                        <div id="slider-label-motor-2" class="ui-slider-handle slider-label-motor"></div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm col-sm-1">Motor 3
                  </div>
                <div class="col-sm-1">
                      <input id="switch-motor-3" type="checkbox" data-toggle="switchbutton" data-size="sm">
                </div>
                <div class="col-sm">
                  <div id="slider-motor-3" class="slider-motor">
                        <div id="slider-label-motor-3" class="ui-slider-handle slider-label-motor"></div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm col-sm-1">Motor 4</div>

                <div class="col-sm-1">
                      <input id="switch-motor-4" type="checkbox" data-toggle="switchbutton" data-size="sm">
                </div>
                <div class="col-sm">
                  <div id="slider-motor-4" class="slider-motor">
                        <div id="slider-label-motor-4" class="ui-slider-handle slider-label-motor"></div>
                    </div>
                </div>
              </div>
        </div>
      </div>

        <script>

         var motor_1 = {enabled: false, speed: 1}
         var motor_2 = {enabled: true, speed: 2}
         var motor_3 = {enabled: true, speed: 3}
         var motor_4 = {enabled: false, speed: 4}

         $(document).ready(function() {

             $("#switch-motor-1").change(function() {
                  $( "#slider-motor-1" ).slider( "option", "disabled", ! $(this).prop("checked") );
                });
             $("#switch-motor-2").change(function() {
                  $( "#slider-motor-2" ).slider( "option", "disabled", ! $(this).prop("checked") );
                });
             $("#switch-motor-3").change(function() {
                  $( "#slider-motor-3" ).slider( "option", "disabled", ! $(this).prop("checked") );
                });
             $("#switch-motor-4").change(function() {
                  $( "#slider-motor-4" ).slider( "option", "disabled", ! $(this).prop("checked") );
                });

             $(function() {

                // MOTOR 1 :SLIDER
                var handle_motor1 = $( "#slider-label-motor-1" );
                $( "#slider-motor-1" ).slider({
                  min: 0,
                  max: 10,
                  value: motor_1.speed,
                  disabled: ! motor_1.enabled,
                  create: function() {
                    handle_motor1.text( $( this ).slider( "value" ) );
                  },
                  slide: function( event, ui ) {
                    handle_motor1.text( ui.value );
                  }
                });

                // MOTOR 2 :SLIDER
                var handle_motor2 = $( "#slider-label-motor-2" );
                $( "#slider-motor-2" ).slider({
                  min: 0,
                  max: 10,
                  value: motor_2.speed,
                  disabled: ! motor_2.enabled,
                  create: function() {
                    handle_motor2.text( $( this ).slider( "value" ) );
                  },
                  slide: function( event, ui ) {
                    handle_motor2.text( ui.value );
                  }
                });

                // MOTOR 3 :SLIDER
                var handle_motor3 = $( "#slider-label-motor-3" );
                $( "#slider-motor-3" ).slider({
                  min:0,
                  max: 10,
                  value: motor_3.speed,
                  disabled: ! motor_3.enabled,
                  create: function() {
                    handle_motor3.text( $( this ).slider( "value" ) );
                  },
                  slide: function( event, ui ) {
                    handle_motor3.text( ui.value );
                  }
                });

                // MOTOR 4 :SLIDER
                var handle_motor4 = $( "#slider-label-motor-4" );
                $( "#slider-motor-4" ).slider({
                  min: 0,
                  max: 10,
                  value: motor_4.speed,
                  disabled: ! motor_4.enabled,
                  create: function() {
                    handle_motor4.text( $( this ).slider( "value" ) );
                  },
                  slide: function( event, ui ) {
                    handle_motor4.text( ui.value );
                  }
                });
             });

            // SET MOTOR
            motor_1.enabled ?
                    $("#switch-motor-1").prop("checked", true)
                    : $("#switch-motor-1").prop("checked", false);

            motor_2.enabled ?
                    $("#switch-motor-2").prop("checked", true)
                    : $("#switch-motor-2").prop("checked", false);

            motor_3.enabled ?
                    $("#switch-motor-3").prop("checked", true)
                    : $("#switch-motor-3").prop("checked", false);

            motor_4.enabled ?
                    $("#switch-motor-4").prop("checked", true)
                    : $("#switch-motor-4").prop("checked", false);
         })
        </script>